* {
    padding: 0;
    margin: 0;
    border: 0;
}

.head {
display: flex;
justify-content: center;
background-color: skyblue;
padding: 10px;
}

.head h1 {
    font-size: 50px;
}

#master {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftSideInfo {
display: flex;
flex-direction: column;
column-count: auto;
align-items: flex-start;
padding: 5px;
}

#mainInfo {
    display: flex;
flex-direction: column;
column-count: auto;
align-items:center;
padding: 5px;
width: 100%;
height: 100%;
}

#citySearchHeader, #historyHeader, #mainWeatherHeader {
    font-weight: bold;
    font-size: 20px;
}
